
@{
    ViewBag.Title = "IniciarSesion";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Iniciar Sesión</title>

    <link rel="stylesheet" href="~/template/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/template/vendors/css/vendor.bundle.base.css">

    <link rel="stylesheet" href="~/template/assets/css/style.css">

    <link rel="shortcut icon" href="~/template/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Iniciar Sesión</h3>
                            <form>
                                <div class="form-group">
                                    <label>Correo Electrónico *</label>
                                    <input type="text" class="form-control p_input">
                                </div>
                                <div class="form-group">
                                    <label>Contraseña *</label>
                                    <input type="text" class="form-control p_input">
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input"> Recordarme
                                        </label>
                                    </div>
                                    <a href="#" class="forgot-pass">Contraseña Olvidada</a>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block enter-btn">Iniciar Sesión</button>
                                </div>
                                <div class="d-flex">
                                                                        
                                </div>
                                <p class="sign-up">No tienes una cueta?<a href="#"> Registrarse</a></p>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="~/template/vendors/js/vendor.bundle.base.js"></script>

    <script src="~/template/js/off-canvas.js"></script>
    <script src="~/template/js/hoverable-collapse.js"></script>
    <script src="~/template/js/misc.js"></script>
    <script src="~/template/js/settings.js"></script>
    <script src="~/template/js/todolist.js"></script>

</body>
</html>
